<div class="page-header">
  <h3>Cuisine #<%= @cuisine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @cuisine.name %></dd>
      <dt>Dishes</dt>
      <dd>
        <ul class="list-group">
        <% @cuisine.dishes.each do |dishes| %>
          <li class="list-group-item">
            <%= dishes.name %>
          </li>
          <% end %>
          <li class="list-group-item">
            <form action="/create_dish" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <!-- Hidden input for cuisine_id -->
              <input name="cuisine_id" type="hidden" value="<%= @cuisine.id %>">

              <!-- Label and input for name -->
              <div class="form-group">
                <label for="name" class="control-label">
                  Name
                </label>
                <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @dish.name %>">
              </div>

              <button class="btn btn-success">
                Create Dish
              </button>
            </li>
        </ul>
      </dd>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cuisines" class="btn btn-primary">
        Back
      </a>
      <a href="/cuisines/<%= @cuisine.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cuisine/<%= @cuisine.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
