<div class="page-header">
  <h3>Venue #<%= @venue.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @venue.name %></dd>

      <dt>Address</dt>
      <dd><%= @venue.address %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @venue.neighborhood.name %></dd>

      <dt>Favorites</dt>
      <dd>
        <ul class="list-group">
          <% @venue.favorites.each do |favorites| %>
          <li class="list-group-item">
            <%= favorites.dish.name %> by <%= favorites.user.username %>
          </li>
          <% end %>
           <li class="list-group-item">
            <form action="/create_favorite" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

              <!-- Hidden input for venue_id -->
              <input name="venue_id" type="hidden" value="<%= @venue.id %>">

              <!-- Label and input for user_id -->
              <div class="form-group">
                <label for="user_id" class="control-label">
                  User
                </label>
                <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :username, @favorite.user_id), :class => "form-control") %>
              </div>

              <!-- Label and input for dish_id -->
              <div class="form-group">
                <label for="dish_id" class="control-label">
                  Dish
                </label>
                <%= select_tag(:dish_id, options_from_collection_for_select(Dish.all, :id, :name, @favorite.dish_id), :class => "form-control") %>
              </div>

              <!-- Label and input for notes -->
              <div class="form-group">
                <label for="notes" class="control-label">
                  Notes
                </label>
                <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @favorite.notes %></textarea>
              </div>

              <button class="btn btn-success">
                Create Favorite
              </button>
            </li>
        </ul>
      </dd>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venues" class="btn btn-primary">
        Back
      </a>
      <a href="/venues/<%= @venue.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_venue/<%= @venue.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
